.Contactbg{
    background: url(../Assets/2_contactImg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
   
}
.ContactContainer{
    background-color: #ee1c2771;
    background-size: 100% 100%;  
    padding: 6rem 4rem;
}
.contactButton a{
    text-decoration: none;
    color: white;
}
.contactButton{
    color: white; 
    background-color: #EE1C25; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    transition: color 0.5s; 
    cursor: pointer; 
    position: relative; 
    overflow: hidden; 
    z-index: 1; 
}
.contactButton::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 0; 
    background-color: rgb(243, 240, 240); 
    z-index: -1; 
    transition: height 0.5s;     /* Explore More */
}

.contactButton:hover::before {
    height: 100%; 
    z-index: -1; 
}

.contactButton:hover {
    color: black;
}
.contactButton:hover a{
    color: black;
}